.wrapper {
  max-width: 700px;
  margin: 0 auto;
  min-height: 85svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.imgWrapper {
  position: relative;
  width: 180px;
  height: auto;
  aspect-ratio: 3/1;
  margin: 0 auto;
  margin-top: 80px;
}
