.wrapper {
  max-width: 700px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
}

.imgWrapper {
  position: relative;
  width: 180px;
  height: auto;
  aspect-ratio: 3/1;
  margin: 0 auto;
  margin-top: 80px;
}
