.listGroup {
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
  padding-bottom: 40px;
  z-index: 1000;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    span {
      font-weight: 700;
      font-size: 14px;
      margin-left: 4px;
    }
  }
}
