.coinTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  margin: 0 12px;
}

.imgWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 20px;
  margin: 0 24px;
}

.img {
  object-fit: contain;
  border-radius: 20px;
}

.submitBtn {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(135deg, #cd506d, #e37929);
  color: #fff;
  padding: 8px 0;
  font-weight: 700;

  @media (min-width: 768px) {
    position: static;
    width: 100%;
    border-radius: 8px;
  }
}
