.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
  background-color: rgba($color: #fff, $alpha: 0.9);
  box-shadow: 0 2px 10px rgba($color: #000, $alpha: 0.08);
}
