.button {
  border: none;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.button-lg {
  padding: 10px 32px;
  font-size: 16px;
}

.button-md {
  padding: 6px 24px;
  font-size: 14px;
}

.button-sm {
  padding: 3px 16px;
  font-size: 12px;
}

.button-red {
  color: #fff;
  background-color: #da5271;
  &:hover {
    background-color: darken(#da5271, 10%);
  }
}

.button-green {
  color: #fff;
  background-color: #00b1b5;
  &:hover {
    background-color: darken(#00b1b5, 10%);
  }
}

.button-yellow {
  color: #fff;
  background-color: #e27928;
  &:hover {
    background-color: darken(#e27928, 10%);
  }
}

.button-dark {
  color: #f5f5f5;
  background-color: #495057;
  &:hover {
    background-color: darken(#495057, 10%);
  }
}

.button-light {
  color: #495057;
  background-color: #f5f5f5;
  &:hover {
    background-color: darken(#f5f5f5, 10%);
  }
}

.button-brand {
  color: #f5f5f5;
  background: linear-gradient(90deg, #cd506d, #e37929);
  &:hover {
    filter: brightness(0.9);
  }
}

.button-noUse {
  color: #f5f5f5;
  background-color: #9fa1ae;
}

.button-fit {
  width: auto;
}

.button-expand {
  display: inline-block;
  width: 100%;
}
